<!doctype html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}">
<head>
  <title>
  Search Contact
</title></head>
<body>
<div id="content">
  <div th:if="${loggedInUser}">
    <div data-th-replace="~{user/sidebar :: sidebar}"></div>
  </div>

  <div class="pl-64 pt-20">
    <div class="justify-center">
      <h1 class="text-5xl text-center">All Your Contacts</h1>
      <p class="text-center mt-3">Total Result Found: <span class="text-red-600" th:text="${pageContact.totalElements}"></span></p>


      <div class="contacts_container p-5">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
         <div class="flex md:flex-row  flex-col items-center justify-between"> <form th:action="@{/user/contact/search}" th:object="${contactSearchForm}" method="get">
            <div class="space-x-3 flex p-5 items-center justify-start flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
              <!--select box-->
              <div class="mt-3">
                <select th:field="*{field}"  id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option selected value="">Select Field</option>
                  <option value="name">Name</option>
                  <option value="email">Email</option>
                  <option value="phone">Phone</option>
                </select>
              </div>

              <div class="relative mt-0">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                       xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                  </svg>
                </div>
                <input th:field="*{value}"  type="text" id="table-search-users"
                       class="block p-2.5 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Search for users">
              </div>

              <button class="px-3 py-2 text-white rounded bg-blue-600 " type="submit">Search</button>
            </div>

          </form>
           <div>
             <button  onclick="exportData()" class="px-3 py-2 text-white rounded bg-blue-600 " type="button">Export</button>
           </div>
         </div>

          <!-- Contacts Table -->
          <table id="contact_table"  class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 z-0">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Name</th>
              <th scope="col" class="px-6 py-3">Phone Number</th>
              <th scope="col" class="px-6 py-3">Links</th>
              <th scope="col" class="px-6 py-3">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${pageContact.getContent()}"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <td class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                <img th:src="${c.picture}"
                     onerror="this.src='https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png'"
                     class="w-10 h-10 rounded-full" alt="User image">
                <div class="ps-3">
                  <div class="text-base font-semibold" th:text="${c.name}">Name Placeholder</div>
                  <div class="font-normal text-gray-500" th:text="${c.email}">Email Placeholder</div>
                </div>
              </td>
              <td class="px-6 py-4" th:text="${c.phonenumber}">Phone Placeholder</td>
              <td class="px-6 py-4">
                <div class="flex items-center space-x-2">
                  <i th:if="${c.favorite}" class="fa-solid fa-star" style="color: #74C0FC;"></i>
                  <a th:href="${c.websiteLink}" target="_blank"><i
                          class="fa-solid fa-hashtag"></i></a>
                  <a th:href="${c.linkedInLink}" target="_blank"><i
                          class="fa-brands fa-linkedin-in"></i></a>
                </div>
              </td>
              <td class="px-6 py-4">
                <button th:onclick="deleteContact([[${c.id}]])"><i class="fa-solid w-6 h-6 fa-trash"></i></button>

                <a th:href="@{'/user/contact/view/'+*{c.id}}"><i class="fa-solid w-6 h-6 fa-pen"></i></a>
                <button th:dataname="${c.id}" th:onclick="loadContactdata(this.getAttribute('dataname'))" ><i class="fa-solid w-6 h-6 fa-eye"></i></button>
              </td>
            </tr>
            <tr th:if="${pageContact.content.isEmpty()}">
              <td colspan="4" class="text-center">No contacts found.</td>
            </tr>
            </tbody>
          </table>
         <!-- hidden table -->
          <table id="export_table" class="hidden">
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Favorite</th>
              <th>Website Link</th>
              <th>LinkedIn Link</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${pageContact.getContent()}">
              <td th:text="${c.name}">Name Placeholder</td>
              <td th:text="${c.email}">Email Placeholder</td>
              <td th:text="${c.phonenumber}">Phone Placeholder</td>
              <td th:text="${c.favorite ? 'Yes' : 'No'}">Favorite Placeholder</td>
              <td th:text="${c.websiteLink}">Website Link Placeholder</td>
              <td th:text="${c.linkedInLink}">LinkedIn Link Placeholder</td>
            </tr>
            </tbody>
          </table>

          <div th:unless="${pageContact.isEmpty()}" class="p-5 mt-4 text-center">
            <nav aria-label="Page navigation example">
              <ul class="inline-flex -space-x-px text-base h-10">
                <li th:unless="${pageContact.first}">
                  <a th:href="@{'/user/contact/search?size='+${pageSize}+'&page='+${pageContact.number -1}+'&field='+${contactSearchForm.field}+'&value='+${contactSearchForm.value}}"
                     class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                </li>
                <li th:each="index:${#numbers.sequence(0,pageContact.totalPages -1)}">

                  <a
                          data-th-href="@{'/user/contact/search?size='+${pageSize}+'&page='+${index}+'&field='+${contactSearchForm.field}+'&value='+${contactSearchForm.value}}"
                          href="#"
                          data-th-classappend="${index==pageContact.number? 'bg-blue-50  dark:bg-gray-600' : 'bg-white dark:bg-gray-800'}"
                          class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  >
                    <span data-th-text="${index+1}"></span>
                  </a>
                </li>
                <li th:unless="${pageContact.last}">
                  <a th:href="@{'/user/contact/search?size='+${pageSize}+'&page='+${pageContact.number +1}+'&field='+${contactSearchForm.field}+'&value='+${contactSearchForm.value}}"
                     class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Pagination -->

      </div>
    </div>
    <div th:replace="~{user/contact_modal :: contact}"></div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js"></script>
<script th:src="@{'/js/contact.js'}"></script>
<script>
  function exportData(){
    TableToExcel.convert(document.getElementById("export_table"), {
      name: "contact.xlsx",
      sheet: {
        name: "Sheet 1"
      }
    });
  }
</script>
</body>
</html>